body{
    background-color: #e5b82e;
}

#clubnav{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #fff;
}

#clubnav img{
    height: 80px;
    width: 80px;
}

#clubnav2 li a:hover{
    border-bottom: 3px solid #e5b82e;
}


#elclub{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #e5b82e;
    margin: 5px 10px;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    background: #e5b82e;
    height: 25px;

}

ion-icon {
    font-size: 18px;
  }

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 8px;
}

.top-bar a {
    color: #202020;
}

.top-bar a:hover{
    color: #fff;
}