body{
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}



#clubnav{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #fff;
}

#clubnav img{
    height: 80px;
    width: 80px;
}

#clubnav2 li a:hover{
    border-bottom: 3px solid #e5b82e;
}


#elclub{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #e5b82e;
    margin: 5px 10px;
}

#elclub-caja{
    background: rgba(0, 0, 0, .8);
    border-radius: 20px 20px 0px 20px;
    margin: 100px auto;
    width: 1000px;
    height: 600px;
}

#elclub-contenido{
    color: #fff;
}

#elclub-titulo{ 
    font-family: 'Nunito', sans-serif;
    font-size: 35px;

}
#elclub-img{
    margin: 30px 20px;
    width: 110px;
    height: 110px;
}

#elclub-texto1{
    margin: -45px 180px;
    font-size: 18px;
}

#elclub-texto2{
    margin: 60px 180px;
    font-size: 18px;
}

#socio-caja{
    background: rgba(0, 0, 0, .8);
    border-radius: 20px 20px 0px 20px;
    margin: 100px auto;
    width: 1000px;
    height: 700px;
}

#socio-contenido{
    color: #fff;
}

#socio-titulo{ 
    font-family: 'Nunito', sans-serif;
    font-size: 35px;

}
#socio-img{
    margin: 30px 20px;
    width: 110px;
    height: 110px;
}

#socio-texto1{
    margin: -45px 180px;
    font-size: 18px;
}

#socio-texto2{
    margin: 60px 180px;
    font-size: 18px;
}

.ul1{
    margin: -25px 0px;
}

.p1{
    font-size: 18px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 70px;
    padding-inline-start: 180px;
}

.shop-caja{
    background: rgba(0, 0, 0, .8);
    border-radius: 20px 20px 20px 20px;
    margin: 20px auto;
    width: 1450px;
    height: 700px;
}

#shop-card{
    padding: 60px;
}





.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    background: #e5b82e;
    height: 25px;

}

ion-icon {
    font-size: 18px;
  }

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 8px;
}

.top-bar a {
    color: #202020;
}

.top-bar a:hover{
    color: #fff;
}